# GOOGLE GENERAL
VITE_GOOGLE_CLIENT_ID=clientid
VITE_GOOGLE_REDIRECT_URI=http://localhost:5173/your-redirect-path
VITE_GOOGLE_SCOPE=https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/spreadsheets

# GOOGLE DRIVE COTIZACIONES
VITE_GOOGLE_COTIZACIONES_ROOT_FOLDER_ID=rootfolderid

# GOOGLE SHEETS ENTRADAS-SALIDAS
VITE_GOOGLE_ENTRADAS_SALIDAS_SPREADSHEET_ID=spreadsheetid

# SUPABASE
VITE_SUPABASE_URL=URL_DE_SUPABASE
VITE_SUPABASE_ANON_KEY=ANON_KEY
